# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Build output
dist/
dist-nuitka/
build/
*.spec.bak
*.build/
*.onefile-build/

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
